body {width: 1100px;}
p {margin:0}
h3 {margin:10px 0;}

.profile {
  display: flex;
  align-items: center;
  gap : 5px
}
.profile-img {
  width:40px;
  height:40px;
  background: #666;
  border-radius:100%;
}
.content-wrap{
  width: 70%;
  float: left;
}

.content p {font-size:13px; margin-bottom:10px}
.thumb {
  width: 30%;
  float: left;
}

.tx13 {
  font-size:13px;
  color:#939393;;
}